.idea/
.git/
bin/*.so
bin/*.SOVERSION
bin/*.a
bin/*.dylib
bin/*.dll
bin/*.lib
bin/*.pdb
bin/*.exe
bin/*.ilk
bin/*.exp
bin/*.cache
bin/examples/addons
bin/examples/temp
bin/examples/web
bin/examples/assets/shaders/*.*